form{
    width: 370px;
    height: 100%;
    margin: 140px 500px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(199, 150, 150);
    
}
form:hover{
    box-shadow: 0px 2px 5px 0px rgb(131, 72, 72);
}
input{
    width: 92%;
    padding: 4px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(184, 157, 157);
    margin-left: 3%;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 4px;
}
button{
    width: 90%;
    padding: 2%;
    margin-top: 10%;
    font-size: 22px;
    margin-left: 5%;
    outline: none;
    margin-bottom: 5%;
    border: none;
    border-radius: 4px;
    background-color: rgb(164, 111, 111);
    color: white;
}
button:hover{
    background-color: rgb(158, 47, 47);
}
