<form [formGroup] ='alluserdata' (ngSubmit)="getalldata()">
  <input type="text" placeholder="Enter your firstname" formControlName="firstname"><br/>
  <div *ngIf="(alluserdata.get('firstname')?.touched && alluserdata.get('firstname')?.invalid)">
   <div *ngIf="alluserdata.get('firstname')?.errors?.['required']" style="color: red; margin-left: 4%; margin-top: 1%;"> This field is required</div>
  </div>
  <input type="text" placeholder="Enter your lastname" formControlName="lastname"><br/>
  <div *ngIf="(alluserdata.get('lastname')?.touched && alluserdata.get('lastname')?.invalid)">
    <div *ngIf="alluserdata.get('lastname')?.errors?.['required']" style="color: red; margin-left: 4%; margin-top: 1%;"> This field is required</div>
   </div>
  <input type="email" placeholder="Enter email" formControlName="email"><br>
  <div *ngIf="(alluserdata.get('email')?.touched && alluserdata.get('email')?.invalid)">
    <div *ngIf="alluserdata.get('email')?.errors?.['required']" style="color: red; margin-left: 4%; margin-top: 1%;"> This field is required</div>
        <div *ngIf="alluserdata.get('email')?.errors?.['email']" style="color: red; margin-left: 4%; margin-top: 1%;"> Enter please valid email</div>
   </div>
  <input type="text" placeholder="Address" formControlName="address"><br>
  <div *ngIf="(alluserdata.get('address')?.touched && alluserdata.get('address')?.invalid)">
    <div *ngIf="alluserdata.get('address')?.errors?.['required']" style="color: red; margin-left: 4%; margin-top: 1%;"> This field is required</div>
   </div>
  
  <button >Submit</button>
</form>
